<footer class="flex flex-center mx-auto footer">
    <div class="toggle-item block w-100 md-w-50 lg-w-25">
        <h3 class="titulo-footer">GRUPO-09 Argentina DH</h3>
        <div class="">
            <p class="link-footer">Av. grupo-9 9000</p>
            <p class="link-footer">La Tablada</p>
            <p class="link-footer">Provincia de Buenos Aires</p>
            <p class="link-footer">CUIT: 3023423544776</p>
        </div>
    </div>
  
    <div class="toggle-item block w-100 md-w-50 lg-w-25" onclick="toggleContent('grupo9')">
        <h3 class="titulo-footer">GRUPO-09</h3>
        <div class="content" id="grupo9Content">
            <p><a class="link-footer" href="#">Políticas y Términos de uso</a></p>
            <p><a class="link-footer" href="#">Promociones Especiales</a></p>
            <p><a class="link-footer" href="#">Nuestra Marca</a></p>
            <p><a class="link-footer" href="#">Responsabilidad Social</a></p>
            <p><a class="link-footer" href="#">Nuestra Historia</a></p>
        </div>
    </div>

    <div class="toggle-item block w-100 md-w-50 lg-w-25" onclick="toggleContent('atencionCliente')">
        <h3 class="titulo-footer">ATENCIÓN AL CLIENTE</h3>
        <div class="content" id="atencionClienteContent">
            <p><a class="link-footer" href="#">0900-999-0909</a></p>
            <p><a class="link-footer" href="#">Lunes a Sábado de 9 a 21 hs.</a></p>
            <p><a class="link-footer" href="#">contacto@grupo9.com.ar</a></p>
            <p><a class="link-footer" href="#">Libro de Quejas Online</a></p>
            <p><a class="link-footer" href="#">Preguntas Frecuentes</a></p>
        </div>
    </div>

    <div class="toggle-item block w-100 md-w-50 lg-w-25" onclick="toggleContent('mediosDePago')">
        <h3 class="titulo-footer">MEDIOS DE PAGO</h3>
        <div class="flex flex-center">
            <a href="#"><img src="/images/tarjetas.png" class="img-medios-de-pago w-100" ></a>
        </div>
    </div>
    
    <div class="w-100 text-center1 mb-1">
        <div class="w-100 copy-footer">Copyright © 2023 GRUPO-09</div>
    </div>
    <script src="/js/script.js"></script>
</footer>