/* src/assets/css/login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('../images/background.jpg') no-repeat center center fixed; /* Cambia esta ruta si es necesario */
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-header {
    margin-bottom: 1.5rem;
}

.logo {
    width: 180px;
    margin-bottom: 1rem;
}

.logo2 {
    width: 100px;
    margin-bottom: 1rem;
}

.login-field {
    margin-bottom: 1.5rem;
    text-align: left;
}

.login-field label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-field input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #555;
}

.login-message {
    margin-top: 1rem;
    color: red;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.eye-button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666; /* Color del ícono */
    padding: 5px; /* Añadir padding para facilitar el clic */
}

.eye-button:focus {
    outline: none; /* Eliminar borde al enfocarse */
}

.eye-button:hover {
    color: #333; /* Cambia solo el color del ícono */
    background: none; /* Asegúrate de que no haya fondo al pasar el mouse */
}