

.pedidos table tbody {
    display: block;
    max-height: calc(4 * 60px); /* Muestra 6 filas con una altura de 60px cada una */
    overflow-y: auto;
    width: 100%;
}

.pedidos-items table tbody {
    display: block;
    
    overflow-y: auto;
    width: 100%;
}

.pedidos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    width: 100%;
}

.pedidos {
    flex: 1; /* Ocupa el resto de la altura disponible */
    overflow-y: auto;
    width: 100%;
}

.pedidos-items {
    flex: 1; /* Ocupa el resto de la altura disponible */
    overflow: auto; /* Agrega scroll si el contenido es más alto que el contenedor */
    width: 100%;
}

.table-hover th, .table-hover td {
    padding: 3px; /* Reducir el padding de las celdas */
    box-sizing: border-box; /* Incluir padding en el ancho y alto de los elementos */
    width: 100%;
}

.pedidos table th, .pedidos-items table th {
    width: 100%; /* Asegurar que las cabeceras ocupen el ancho completo */
}

.pedidos table td, .pedidos-items table td {
    width: 100%; /* Asegurar que las celdas ocupen el ancho completo */
}

.pedidos table, .pedidos-items table {
    width: 100%;
    table-layout: fixed; /* Fijar el layout de las tablas */
}

.pedidos table thead, .pedidos-items table thead,
.pedidos table tbody tr, .pedidos-items table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Fijar layout para asegurar alineación */
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } */







 .pedidos-new {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* font-family: 'Arial, sans-serif'; */
    color: #333;
}

h1 {
    text-align: center;
    font-size: 24px;
    /* color: #333; */
    color: black;
}

h3 {
    text-align: center;
    font-size: 28px;
    /* color: #333; */
    color: black;
}

.form-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-row label {
    flex: 1;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}

.form-row input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

.form-row input:focus {
    border-color: #007bff;
}

.remove-item-button {
    margin-left: 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    /* border-radius: 50%; */
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    transition: background-color 0.3s ease;
}

.remove-item-button:hover {
    background-color: #ff1a1a;
}

.remove-item-button:focus {
    outline: none;
}



/* PedidoEditForm.css */
.form-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    
}

.form-card {
    /* display: flex; */
    /* margin-top: 20px; */
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 400px; */
    /* width: 100%; */
    /* height: 80vh; */
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.form-group input {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}

.form-buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-buttons .btn-primary {
    background-color: #007bff;
    color: white;
}

.form-buttons .btn-secondary {
    background-color: #6c757d;
    color: white;
}

.column-width {
    width: 5%; /* 100% dividido por 6 columnas */
    text-align: center; /* Para centrar el texto en cada columna */
}

.table-row {
    display: flex;
}

.column {
    flex: 1; /* Cada columna toma un espacio igual */
    text-align: center; /* Centrar el texto en cada columna */
    padding: 8px; /* Agregar padding para mejorar la apariencia */
    box-sizing: border-box; /* Asegurarse de que el padding se incluya en el ancho total */
}

.table th.column, .table td.column {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px; /* Ajusta el padding para consistencia */
    vertical-align: middle; /* Alinea verticalmente al centro */
}

/* .table th.column {
    font-weight: bold; 
} */


.table td.column input, .table td.column select, .table td.column button {
    width: 100%; /* Asegura que los inputs y selects ocupen el ancho completo de la celda */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.table-responsive {
    overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
}

.table td.text-center {
    text-align: center; /* Alinea el contenido al centro */
}

.remove-button {
    width: auto; /* Permite que el botón tenga un tamaño adecuado */
    padding: 0.25rem 0.5rem; /* Ajusta el padding del botón */
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: inline-block; /* Ajusta la alineación del botón */
}

.column-small {
    width: 80px; /* Ajusta el ancho de la columna 'Eliminar' */
    min-width: 80px; /* Establece un ancho mínimo para la columna */
    max-width: 80px; /* Establece un ancho máximo para la columna */
}

.column-medium {
    width: 150px; /* Ajusta el ancho de las columnas 'Cantidad' y 'Precio' */
    min-width: 150px; /* Establece un ancho mínimo para las columnas */
    max-width: 150px; /* Establece un ancho máximo para las columnas */
}

/* Estilo general para el contenedor de react-select */
.css-2b097c-container {
    position: relative;
    z-index: 1000; /* Ajusta el z-index según tus necesidades */
}

/* Estilo para el menú desplegable de react-select */
.css-26l3qy-menu {
    z-index: 1000; /* Ajusta el z-index según tus necesidades */
}

.table-pedidos th:nth-child(1),
.table-pedidos td:nth-child(1) {
    width: 12%;
}

.table-pedidos th:nth-child(2),
.table-pedidos td:nth-child(2) {
    width: 15%;
}

.table-pedidos th:nth-child(3),
.table-pedidos td:nth-child(3) {
    width: 15%;
}

.table-pedidos th:nth-child(4),
.table-pedidos td:nth-child(4) {
    width: 40%;
}

.table-pedidos th:nth-child(5),
.table-pedidos td:nth-child(5) {
    width: 15%;
}

.table-pedidos-items th:nth-child(1),
.table-pedidos-items td:nth-child(1) {
    width: 10%;
}

.table-pedidos-items th:nth-child(2),
.table-pedidos-items td:nth-child(2) {
    width: 10%;
}

.table-pedidos-items th:nth-child(3),
.table-pedidos-items td:nth-child(3) {
    width: 10%;
}

.table-pedidos-items th:nth-child(4),
.table-pedidos-items td:nth-child(4) {
    width: 40%;
}

.table-pedidos-items th:nth-child(5),
.table-pedidos-items td:nth-child(5) {
    width: 10%;
}

.table-pedidos-items th:nth-child(6),
.table-pedidos-items td:nth-child(6) {
    width: 10%;
}

.table-pedidos-items th:nth-child(7),
.table-pedidos-items td:nth-child(7) {
    width: 10%;
}

